@media screen and (max-width: 1800px) {
  .qualitas-hero__media .qualitas-hero__bg{
    left: -25%;
    top: -1010px;
    width: 2568px;
    height: 2568px;
  }
  .qualitas-hero {
    .qualitas-container{
      max-width: 100%;
    }
  }
}
@media screen and (max-width: 1560px) {
  .qualitas-hero__media .qualitas-hero__bg{
    left: -30%;
  }
}

@media screen and (max-width: 1440px) {
  .qualitas-testimonials__item-text{
    font-size: 20px;
    line-height: 34px;
    padding: 20px;
  }
  .qualitas__header-logo {
    width: 180px;
  }
  .qualitas__header-search{
    margin: 0 20px;
  }
  .qualitas__header-cart{
    margin: 0 10px 0 0;
  }
  .qualitas__header-nav a {
    padding: 30px 0;
  }
  .qualitas-page-content {
    padding-top: 75px;
  }
  .qualitas-hero__media {
    .qualitas-hero__bg{
      left: 70%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 2160px;
      height: 2160px;
    }
  }
  .qualitas-hero {
    .qualitas-container{
      justify-content: flex-start;
      padding-top: 90px;
    }
    &__title{
      font-size: 70px;
    }
    &__text{}
    &__title, &__text {
      max-width: 540px;
    }
  }
  .qualitas__footer{
    &-partner{
      width: auto;
    }
    &-social{
      width: auto;
    }
  }
  .qualitas__header-nav li {
    margin: 0 15px;
  }
}
@media screen and (max-width: 1230px) {
  .qualitas-top{
    padding: 80px 0 100px;
    &__title{
      font-size: 40px;
      line-height: 44px;
    }
    &__bg {
      width: 1568px;
      height: 1568px;
    }
  }
  .qualitas__header {
    &-logo{
      width: 120px;
    }
    &-nav{
      li{
        margin: 0 10px;
      }
      a{
        font-size: 14px;
      }
    }
    .qualitas__btn-primary{
      padding: 10px 15px;
    }
    &-search{
      margin: 0 10px;
      .icon{
        width: 20px;
        height: 20px;
      }
    }
    &-cart {
      .icon{
        width: 23px;
        height: 20px;
      }
      span{
        width: 19px;
        height: 19px;
        font-size: 14px;
      }
    }
  }
  .qualitas-video{
    padding: 80px 0;
    &__media{
      margin: 0 auto 40px;
    }
    .qualitas-title__section{
      margin-bottom: 30px;
    }
  }
  .qualitas-team__item-media{
    width: 250px;
    height: 300px;
    span{
      top: 18px;
      left: -6px;
      max-height: 270px;
    }
  }
  .qualitas-contact{
    &__wrap{
      flex-direction: column;
    }
    &__form{
      max-width: 100%;
      margin-bottom: 30px;
    }
    &__info{
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      &-address{
        width: 100%;
        margin-bottom: 20px;
      }
      &-phone{
        margin-right: 20px;
      }
      &-social{
        ul{
          display: flex;
          flex-wrap: wrap;
        }
        li{
          margin-right: 20px;
        }
      }
    }
  }
  .qualitas__footer-nav{
    width: auto;
  }
  .qualitas-top.qualitas-bg__left .qualitas-top__bg{
    width: 1012px;
    height: 1012px
  }
  .qualitas-course__nav {
    max-width: 380px;
  }
  .qualitas-course__inner {
    width: calc(100% - 380px);
  }

}

@media screen and (max-width: 992px) {
  .qualitas-testimonials__item {
    width: calc(50% - 30px);
  }
  .qualitas-delivering__item{
    width: calc(33.333% - 30px);
    margin: 0 15px 50px;
  }
  .qualitas-news__wrap{
    flex-direction: column-reverse;
  }
  .qualitas-news__item{
    width: calc(33.33% - 30px);
    margin: 0 15px 150px 15px;
    &-media{
      a{
        width: 100%;
        height: 100%;
        display: block;
      }
      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
    }
    &-text{
      height: 126px;
      overflow: hidden;
    }
    &:nth-of-type(1) {
      width: calc(33.33% - 30px);
      margin: 0 15px 150px 15px;
    }
  }
  .qualitas-related__posts .qualitas-news__item:first-of-type{
    width: calc(33.33% - 30px);
  }
  .qualitas-news__archives{
    position: relative;
    margin-bottom: 20px;
  }
  .qualitas__footer{
    &-logo{
      margin-bottom: 30px;
    }
    &-partner{
      width: 100%;
      margin-bottom: 30px;
      ul{
        justify-content: center;
      }
      li{
        margin: 0 30px;
      }
      img{
        width: 100%;
      }
    }
    &-nav{
      width: 100%;
    }
  }
  .qualitas-team__item {
    width: calc(50% - 30px);
  }
  .qualitas__header{
    padding: 20px 0;
    &__search-wrap{
      transition: none;
    }
    &-nav{
      position: absolute;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      left: 0;
      top: 100%;
      height: 100vh;
      ul{
        align-content: center;
        flex-direction: column;
        align-items: center;
      }
      li{
        width: 200px;
        text-align: center;
      }
      a{
        padding: 15px 0;
        font-size: 18px;
        &:hover, &.active{
          color: $white;
        }
      }
      .qualitas__header-sub {
        &:hover{
          ul{
            display: block;
          }
          &:after{
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Слой_1' x='0px' y='0px' viewBox='0 0 80.18 40.09' style='enable-background:new 0 0 80.18 40.09;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='0,0 40.09,40.09 80.18,0 '/%3E%3C/svg%3E") ;
          }
        }
        &:after{
          right: 15px;
          top: 20px;
        }
        ul{
          display: none;
          position: relative;
          left: 0;
          padding: 0;
          width: auto;
          background: transparent;
          &:before{
            display: none;
          }
        }
        li{
          margin: 0;
        }
        a{
          padding: 15px 0;
          color: $white;
        }
      }
    }
    &-search{}
    .qualitas__btn-primary,
    &-search{
      position: absolute;
      opacity: 0;
      visibility: hidden;
    }
    &-btn{
      display: block;
    }
  }
  .qualitas-services{
    &__item-media{
        width: 52px;
        height: 52px;
        margin: 0 auto 10px;
    }
    &__item-title{
      font-size: 24px;
      line-height: 40px;
    }
  }
  .qualitas-subtitle__section {
    font-size: 24px;
    line-height: 32px;
  }
  .qualitas__footer-inner{
    width: 100%;
    flex-direction: column-reverse;
  }
  .qualitas-header__search-wrap{
    transition: none;
    padding: 40px 0;
    form{
      max-width: 230px;
    }
  }
  .qualitas-label__search-reset, .qualitas-label__search{
    display: none;
  }
  .qualitas-input__search{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 56.42 56.42' style='enable-background:new 0 0 56.42 56.42;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23FFFFFF;stroke-width:5;stroke-miterlimit:10;%7D .st1%7Bfill:none;stroke:%23FFFFFF;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='23.76' cy='23.76' r='21.26'/%3E%3Cline class='st1' x1='38.88' y1='38.88' x2='53.92' y2='53.92'/%3E%3C/svg%3E%0A");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 18px;
    padding: 0 30px;
    color: $white;
  }
  .qualitas__btn-primary{
    opacity: 1;
    visibility: visible;
    top: 90vh;
    left: 0;
    right: 0;
    width: 150px;
    margin: 0 auto;
    border-color: $white;
    text-align: center;
  }
  .qualitas-media__section{
    img{
      max-width: 200px;
    }
  }
  .qualitas-course__nav{
    a{
      &:after{
        display: none;
      }
    }
  }
  .qualitas-course__wrap{
    flex-direction: column;
  }
  .qualitas-course__nav{
    margin: 0 auto;
  }
  .qualitas-course__inner{
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .qualitas-testimonials__item {
    width: calc(100% - 30px);
  }
  .qualitas-delivering__item{
    width: calc(50% - 30px);
  }
  .qualitas-top.qualitas-bg__left .qualitas-top__bg{
    width: 768px;
    height: 768px;
    transform: translate(-80%, 20%);
  }
  .qualitas-top__title {
    font-size: 30px;
    line-height: 34px;
  }
  .qualitas-news__item{
    width: calc(50% - 30px);
    &:first-of-type{
      width: calc(50% - 30px);
    }
  }
  .qualitas-related__posts .qualitas-news__item:first-of-type{
    width: calc(50% - 30px);
  }
  .qualitas-services{
    &__wrap{
      flex-wrap: wrap;
      margin-bottom: 40px;
    }
    &__item{
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
    .qualitas-services{
      margin-bottom: 30px;
    }
    .qualitas-text__section{
      margin-bottom: 30px;
    }
  }
  .qualitas-subscription__form {
    .qualitas-label {
      width: 100%;
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .qualitas__footer-logo {
    width: 150px;
  }
  .qualitas-media__section{
    flex-direction: column;
    img{
      max-width: 150px;
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 576px) {
  .qualitas-delivering__item{
    width: calc(100% - 30px);
  }
  .qualitas-related__posts .qualitas-news__item:first-of-type{
    width: calc(100% - 30px);
  }
  .qualitas-news__item{
    width: calc(100% - 30px);
    &:first-of-type{
      width: calc(100% - 30px);
    }
  }
  .qualitas-team__item {
    width: calc(100% - 30px);
  }
  .qualitas-video {
    .qualitas-play{
      width: 50px;
      height: 50px;
      .icon{
        width: 20px;
        height: 24px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .qualitas__footer-partner li{
    margin: 0 5px;
  }
  .qualitas__footer-nav{
    flex-direction: column;
  }
  .qualitas__footer-link ul{
    flex-wrap: wrap;
  }
  .qualitas-contact{
    .qualitas-label {
      width: 100%;
    }
  }
}